# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.hmap

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# Fastlane / misc
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
TestResults.xcresult/
